@import "../../../less/variables.less";

.header-bar {
  & + .text {
    margin-top: 130px;
  }
}
h1 {
  margin: 0;
  padding: 22px 0;
  font-weight: normal;
}

.calibration-container {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

hr {
  border-bottom: 0;
}
